<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Criar Conta</h1>
  <form action="/register/created_user" method="POST" onsubmit="return validateData()">
    <div class="registrationInputs">
      <label for="userName">Nome:</label><br />
      <input type="text" name="userName" id="userName" />
    </div>

    <div class="registrationInputs">
      <label for="email">E-mail:</label><br />
      <input type="text" name="email" id="email" required />
    </div>

    <div class="registrationInputs">
      <label for="pass">Password:</label><br />
      <input type="password" name="pass" id="pass" /><br />
      <input type="checkbox" onclick=showPassword()> Show Password</input> <br/><br/>
    </div>

    
    <div>
      <label for="birthDate">Data de Nascimento:</label><br />
      <input type="date" name="birthDate" id="birthDate" />
    </div>

    <div>
      <label for="cellphone" maxlength="9">Telefone:</label><br />
      <input type="text" name="cellphone" id="cellphone" />
    </div>

    <div>
      <label for="cc" maxlength="8">Nº de C.C:</label><br />
      <input type="text" name="cc" id="cc" />
    </div>

    <div>
      <h4>Morada:</h4>
      <label for="street">Rua:</label><br />
      <input type="text" name="street" id="street" /><br />
      <label for="doorNumber">Nº da Porta:</label><br />
      <input type="text" name="doorNumber" id="doorNumber" /><br />
      <label for="district">Distrito:</label><br />
      <input type="text" name="district" id="district" /><br />
      <label for="locality">Localidade:</label><br />
      <input type="text" name="locality" id="locality" /><br />
      <label for="postalCode">Código-Postal:</label><br />
      <input type="text" name="postalCode1" id="postalCode1" minlength="4" maxlength="4"/>-<input type="text" name="postalCode2"
        id="postalCode2" minlength="3" maxlength="3"/><br />
    </div>

    <div class="registrationInputs">
      <button type="submit">Submeter</button>
    </div>
  </form>

  <script src="/javascripts/sRegister.js"></script>
</body>

</html>