<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Criar Conta</h1>
  <form action="/register/personal_data" method="POST" onsubmit="return validateData()">
    <div class="registrationInputs">
      <label for="userName">Nome:</label><br />
      <input type="text" name="userName" id="userName" />
    </div>

    <div class="registrationInputs">
      <label for="email">E-mail:</label><br />
      <input type="text" name="email" id="email" />
    </div>

    <div class="registrationInputs">
      <label for="pass">Password:</label><br />
      <input type="password" name="pass" id="pass" /><br />
      <input type="checkbox" onclick=showPassword()> Show Password</input>
    </div>

    <div class="registrationInputs">
      <button type="submit">Registo</button>
    </div>
  </form>

  <script src="/javascripts/sRegister.js"></script>
</body>

</html>