<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<hr />
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>Evento</h1></div>
    <div class="col-sm-2">
      <a href="/event" class="pull-right"
        ><img
          title="profile image"
          class="img-circle img-responsive"
          src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"
      /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab">Evento</a></li>
      </ul>
      <div *ngIf="currentEvent">
        <div class="tab-content">
          <div class="tab-pane active">
            <hr />
            <form
              class="form"
              action="##"
              method="get"
              id="Form"
              (ngSubmit)="updateEvent()"
            >
              
                <div class="col-xs-6">
                  <label for="eventName"><h4>Nome do Evento</h4></label>

                  <p>{{ currentEvent.eventName }}</p>
                </div>

                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="local"><h4>Local</h4></label>
                    <p>{{ currentEvent.local }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="eventDate"><h4>Data do Evento</h4></label>
                    <p>{{ currentEvent.eventDate }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="price"><h4>Preço do bilhete</h4></label>
                    <p>{{ currentEvent.price }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="lugares"><h4>Lugares</h4></label>
                    <p>{{ currentEvent.lugares }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="description"><h4>Descriçao</h4></label>
                    <p>{{ currentEvent.description }}</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <label for="lotacao"><h4>Lotação</h4></label>
                    <p>{{ currentEvent.lotacao }}</p>
                  </div>
                </div>
              <div class="form-group">
                <div class="col-xs-3">
                  <br />
                  <button
                    id="btn1"
                    class="btn btn-lg btn-success btn-block"
                    type="submit"
                  >
                    Salvar
                  </button>
                  <button class="btn btn-lg" routerLink="/">Cancelar</button>
                </div>
              </div>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
