<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<hr />
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>Evento</h1></div>
    <div class="col-sm-2">
      <a href="/event" class="pull-right"
        ><img
          title="profile image"
          class="img-circle img-responsive"
          src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"
      /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab">Evento</a></li>
      </ul>
      <div *ngIf="currentEvent">
        <div class="tab-content">
          <div class="tab-pane active">
            <hr />
            <form
              class="form"
              action="##"
              method="get"
              id="Form"
              (ngSubmit)="updateEvent()"
            >
              <mat-list>
                <mat-list-item>
                  Nome do Evento : &nbsp;&nbsp;&nbsp;{{
                    currentEvent.eventName
                  }}</mat-list-item
                >
                <mat-list-item>
                  Local : &nbsp;&nbsp;&nbsp;&nbsp;{{
                    currentEvent.local
                  }}</mat-list-item
                >
                <mat-list-item>
                  Data do Evento : &nbsp;&nbsp;&nbsp;&nbsp;{{
                    currentEvent.eventDate
                  }}</mat-list-item
                >
                <mat-list-item>
                  Preço : &nbsp;&nbsp;&nbsp;&nbsp;{{
                    currentEvent.price
                  }}</mat-list-item
                >
                <mat-list-item>
                  Lugares disponíveis :
                  {{ currentEvent.lugares }}</mat-list-item
                >
                <mat-list-item>
                  Descrição : {{ currentEvent.description }}</mat-list-item
                >
                <mat-list-item>
                  Lotação : {{ currentEvent.lotacao }}</mat-list-item
                >
              </mat-list>
              <body>
                <img [src]="dImage" alt="Image" id ="imgpos" width="300px" height="200px">
             </body>
              <br /><br />
              <div class="example-button-row">
                <button mat-raised-button routerLink="/addBilhete/{{currentEvent._id }}" id="btn1">
                  Adquirir um bilhete</button
                >&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button routerLink="/home" id="btn1">
                  Voltar para trás
                </button>
              </div>
              <hr />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
