#btn1 {
    display: inline-block;
    margin-right: 50px;
    height: 3em;
    width: 9em;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
  }
  