<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <br /><br />
      <h1>{{ currentUser.userName }}</h1>
    </div>
    <br /><br />
    <div align="end" (click)="logout()">
      <a id:link href="http://localhost:4200/login">Logout</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group">
        <li class="list-group-item text-muted">
          Activity <i class="fa fa-dashboard fa-1x"></i>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Eventos assistidos</strong></span> 125
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Eventos cancelados</strong></span> 13
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Eventos por assistir</strong></span>
          37
        </li>
        <li class="list-group-item text-right">
          <a id:link href="http://localhost:4200/listTickets">
          <span class="pull-left"><strong>Bilhetes adquiridos</strong></span>
          </a>
        0
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Estatisticas</strong></span> 78
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <h1>Profile</h1>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <mat-list>
            <div class="col-xs-6">
              <mat-list-item
                >Nome :&nbsp;&nbsp;&nbsp;{{
                  currentUser.userName
                }}</mat-list-item
              >
            </div>
            <div class="col-xs-6">
              <mat-list-item
                >Email :&nbsp;&nbsp;&nbsp;&nbsp;{{
                  currentUser.email
                }}</mat-list-item
              >
            </div>
            <div class="col-xs-6">
              <mat-list-item
                >Telemovel :&nbsp;&nbsp;&nbsp;&nbsp;{{
                  currentUser.cellphone
                }}</mat-list-item
              >
            </div>
            <div class="col-xs-6">
              <mat-list-item
                >NIF :&nbsp;&nbsp;&nbsp;&nbsp;{{
                  currentUser.nif
                }}</mat-list-item
              >
            </div>
            <div class="col-xs-6">
              <mat-list-item
                >Data de Aniversário :&nbsp;&nbsp;&nbsp;&nbsp;
                {{ currentUser.birthDate }}</mat-list-item
              >
            </div>
            <div class="col-xs-6">
              <mat-list-item
                >Morada :&nbsp;&nbsp;&nbsp;&nbsp;
                {{ currentUser.address }}</mat-list-item
              >
            </div>
          </mat-list>
          <div class="form-group">
            <div class="col-xs-12">
              <br />
              <button id="btn1" type="submit" routerLink="/editProfile">
                Editar
              </button>
              <button id="btn1" routerLink="/home">Voltar para tras</button>
             
                <button  *ngIf= (!verify) id="btn1" routerLink="/createRequest">Tornar promotor</button>

                <button  *ngIf= (!verify) id="btn1" routerLink="/listarBilhetes">Ver meus bilhetes</button>
           
                    </div>
          </div></div>
        </div>
      </div>
    </div>
  
</div>
